@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

.top-bar {
    width:100%;
    height: 92px;
    position: fixed;
    top: 0;
    z-index: 1;

    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    padding: 15px;
}

.top-bar .title {
    font-size: 44px;
    font-family: 'Righteous', cursive;
}

.top-bar .slogan {

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.container {
    padding: 122px 0;
    height: 100%;
    background-color: #E5E5E5;
}

.section {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #333333;
    margin-left: 18px;
}

.options-row {
    width: 100%;
    display: flex;
    margin-top: 18px;
    margin-bottom: 30px;
    overflow-x: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.options-row::-webkit-scrollbar {
    display: none;
}

.option {
    height: 216px;
    width: 172px;
    border: none;
    border-radius: 9px;
    font-family: 'Roboto', sans-serif;
    
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    margin-left: 18px;
    padding: 0 14px;

    text-align: start;
}

.option:last-child {
    margin-right: 18px;
}

.option img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-top: 10px;
}

.option .name {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    margin-top: 8px;
}

.option .detail {
    font-size: 15px;
    font-weight: 300;
    
    color: #A6A6A6;
    margin-top: 8px;
    margin-right: 14px;
}

.option .price {
    font-size: 16px;
    color: #000000;
    margin-top: 8px;
}

.option ion-icon {
    display: none;
}

.selected {
    border: 5px solid #32B72F;
    padding: 0 9px;
    position: relative;
}

.selected ion-icon{
    display: initial;
    position: absolute;
    bottom: 8px;
    right: 4px;
    font-size: 20px;
    color: #32B72F;
}

.bottom-bar {
    width: 100%;
    height: 92px;
    line-height: 92px;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;

    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bottom-bar button{
    height: 61px;
    width: 364px;
    vertical-align: middle;

    background-color: #CBCBCB;
    border-radius: 50px;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    padding: 0 70px;
}